<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application ...>
        <!-- Actividad para Atajos -->
        <activity
            android:name=".SwitcherShortcutActivity"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Servicio para el Tile de Ajustes Rápidos -->
        <service
            android:name=".AudioOutputTileService"
            android:icon="@drawable/ic_audio_output"
            android:label="Salida de Audio"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>

</manifest>
